In [1]:
# -*- coding: utf-8 -*-
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
# import seaborn as sns
%matplotlib inline

In [2]:
# import the data
df = pd.read_csv('../datacsv/a.csv',error_bad_lines=False,sep='|')
df.shape
# print(df.columns)
df.columns = ['sessionid','id','acceptnumber','requesttime','request','serviceid','responsetime','response']
df.head(15)

b'Skipping line 1964: expected 8 fields, saw 9\nSkipping line 3002: expected 8 fields, saw 9\nSkipping line 7243: expected 8 fields, saw 9\nSkipping line 14038: expected 8 fields, saw 9\nSkipping line 26871: expected 8 fields, saw 9\nSkipping line 26874: expected 8 fields, saw 9\nSkipping line 42609: expected 8 fields, saw 10\nSkipping line 46446: expected 8 fields, saw 10\nSkipping line 46517: expected 8 fields, saw 10\nSkipping line 56296: expected 8 fields, saw 9\nSkipping line 56992: expected 8 fields, saw 9\nSkipping line 61649: expected 8 fields, saw 10\n'

,sessionid,id,acceptnumber,requesttime,request,serviceid,responsetime,response
0,13410000258T16081911402229APP,63,10000000258,19AUG16:11:40:27,人工,SZ31537,31DEC99:00:00:00,-1
1,13410000258T16081911402229APP,64,10000000258,31DEC99:00:00:00,-1,SZ31537,19AUG16:11:40:40,哈喽，无论晴天雨天，萌萌达真人小和（工号SZ31537）始终在您身边，请问有什么可以为您效劳...
2,13410000258T16081911402229APP,65,10000000258,31DEC99:00:00:00,-1,SZ31537,19AUG16:11:41:19,亲，您已进入人工服务，请问有什么可以帮到您？
3,13410000258T16081911402229APP,66,10000000258,19AUG16:11:41:30,实名制了怎么还不能打电话？,SZ31537,31DEC99:00:00:00,-1
4,13410000258T16081911402229APP,67,10000000258,31DEC99:00:00:00,-1,SZ31537,19AUG16:11:42:13,请问是本机吗？
5,13410000258T16081911402229APP,68,10000000258,19AUG16:11:43:00,是,SZ31537,31DEC99:00:00:00,-1
6,13410000258T16081911402229APP,69,10000000258,31DEC99:00:00:00,-1,SZ31537,19AUG16:11:43:29,我帮您开机，请稍等哈
7,13410000258T16081911402229APP,70,10000000258,31DEC99:00:00:00,-1,SZ31537,19AUG16:11:44:15,已经帮您开通了哦
8,13410000258T16081911402229APP,71,10000000258,31DEC99:00:00:00,-1,SZ31537,19AUG16:11:45:02,亲，请问还有其他可以帮到您吗？
9,13410000258T16081911402229APP,72,10000000258,19AUG16:11:45:55,那我试一下。,SZ31537,31DEC99:00:00:00,-1
10,13410000258T16081911402229APP,73,10000000258,31DEC99:00:00:00,-1,SZ31537,19AUG16:11:46:07,好的
11,13410000258T16081911402229APP,74,10000000258,31DEC99:00:00:00,-1,SZ31537,19AUG16:11:46:17,如果没有其他业务，小和先退下了，收到10086046短信后请回复数字1，赏赐小和本人1008...
12,13410000258T16081911402229APP,75,10000000258,19AUG16:11:46:43,可以了谢谢,SZ31537,31DEC99:00:00:00,-1
13,13410000258T16081911402229APP,76,10000000258,31DEC99:00:00:00,-1,SZ31537,19AUG16:11:46:51,不客气
14,13410000422T16082318212113APP,118,10000000422,23AUG16:18:21:25,人工,SZ31908,31DEC99:00:00:00,-1

In [4]:
df_use = df.loc[:,['sessionid','request','response']]
# df_use_sample = df.loc[:10000,['sessionid','request','response']]

In [3]:
def del_row(df_input, df_dataset, feature, dup_threshold):
    '''
    删除重复多次的句子
    :df_input: the dataframe to be cleaned
    :df_dataset: the dataframe that generate the duplicated list
    :feature: the column to be checked for duplicate
    :dup_threshold:
    '''
    df_dataset['count']=1
    df_all = pd.DataFrame.copy(df_input)
    df_dup = df_dataset.loc[:, ['count', feature]].groupby(feature).count().reset_index()
    dup_list = list(df_dup[df_dup['count'] >= dup_threshold][feature])
    dup_list.remove('-1')
    for i in df_all.index:
        if str(df_all.loc[i, feature]) in dup_list:
            df_all.drop(i, inplace = True)
        if i % 10000 == 0:
            print('=========== %s th complete ======'%i)
    return df_all

In [9]:
# delete responses that appear more than 10 tiems
df_delres = del_row(df_use, df_use, 'response', 10)

=========== 0 th complete ======
=========== 10000 th complete ======
=========== 20000 th complete ======
=========== 30000 th complete ======
=========== 40000 th complete ======
=========== 50000 th complete ======
=========== 60000 th complete ======
=========== 70000 th complete ======

In [11]:
# delete requests that appear more than 10 tiems
df_delreq = del_row(df_delres, df_use, 'request', 10)

=========== 0 th complete ======
=========== 10000 th complete ======
=========== 20000 th complete ======
=========== 30000 th complete ======
=========== 40000 th complete ======
=========== 50000 th complete ======
=========== 60000 th complete ======
=========== 70000 th complete ======

In [13]:
df_use.shape, df_delres.shape, df_delreq.shape

((70806, 4), (64241, 4), (53421, 4))

In [15]:
df_delreq.head(10)

,sessionid,request,response,count
1,13410000258T16081911402229APP,-1,哈喽，无论晴天雨天，萌萌达真人小和（工号SZ31537）始终在您身边，请问有什么可以为您效劳...,1
2,13410000258T16081911402229APP,-1,亲，您已进入人工服务，请问有什么可以帮到您？,1
3,13410000258T16081911402229APP,实名制了怎么还不能打电话？,-1,1
4,13410000258T16081911402229APP,-1,请问是本机吗？,1
6,13410000258T16081911402229APP,-1,我帮您开机，请稍等哈,1
7,13410000258T16081911402229APP,-1,已经帮您开通了哦,1
9,13410000258T16081911402229APP,那我试一下。,-1,1
12,13410000258T16081911402229APP,可以了谢谢,-1,1
16,13410000422T16082318212113APP,-1,Hi~欢迎来到真人版小和SZ31908的世界里，我先给您点【10086个赞】请问有什么可以帮...,1
17,13410000422T16082318212113APP,查询我现在的套餐,-1,1

In [17]:
df_delreq = df_delreq.iloc[:,:3]

In [18]:
#(OPTIONAL)reset the index of dataframe 
df_delreq1 = df_delreq.reset_index(drop=True)
df_delreq1.head(10)

,sessionid,request,response
0,13410000258T16081911402229APP,-1,哈喽，无论晴天雨天，萌萌达真人小和（工号SZ31537）始终在您身边，请问有什么可以为您效劳...
1,13410000258T16081911402229APP,-1,亲，您已进入人工服务，请问有什么可以帮到您？
2,13410000258T16081911402229APP,实名制了怎么还不能打电话？,-1
3,13410000258T16081911402229APP,-1,请问是本机吗？
4,13410000258T16081911402229APP,-1,我帮您开机，请稍等哈
5,13410000258T16081911402229APP,-1,已经帮您开通了哦
6,13410000258T16081911402229APP,那我试一下。,-1
7,13410000258T16081911402229APP,可以了谢谢,-1
8,13410000422T16082318212113APP,-1,Hi~欢迎来到真人版小和SZ31908的世界里，我先给您点【10086个赞】请问有什么可以帮...
9,13410000422T16082318212113APP,查询我现在的套餐,-1

In [19]:
def merge1(df_input):
    '''
    将连续的response/request合并在一起
    '''
    del_list = []
    df = pd.DataFrame.copy(df_input)
    for i in df.index:
        if i == 0:
            continue
        if df.loc[i, 'request'] == '-1' and df.loc[i-1, 'request'] == '-1' and df.loc[i, 'sessionid'] == df.loc[i-1, 'sessionid']:
            df.loc[i-1, 'response'] += df.loc[i, 'response']
            del_list.append(i)
        if df.loc[i, 'response'] == '-1' and df.loc[i-1, 'response'] == '-1'and df.loc[i, 'sessionid'] == df.loc[i-1, 'sessionid']:
            df.loc[i-1, 'request'] += df.loc[i, 'request']
            del_list.append(i) 
        if i % 10000 == 0:
            print('=========== %s th complete ======'%i)
    df.drop(del_list, inplace = True)
    df = df.reset_index(drop = True)
    return df

In [21]:
# operation on df with reindex
df_merge1 = merge1(df_delreq1)

=========== 10000 th complete ======
=========== 20000 th complete ======
=========== 30000 th complete ======
=========== 40000 th complete ======
=========== 50000 th complete ======

In [22]:
df_merge1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33878 entries, 0 to 33877
Data columns (total 3 columns):
sessionid    33878 non-null object
request      33877 non-null object
response     33877 non-null object
dtypes: object(3)
memory usage: 794.1+ KB

In [23]:
def merge2(df_input):
    '''
    将一个问答的request/response merge到一行中
    删除仍然带有'-1'的行
    '''
    df = pd.DataFrame.copy(df_input)
    del_list = []
    for i in df.index:
        if df.loc[i, 'response'] == '-1' and df.loc[i+1, 'response'] != '-1' and df.loc[i, 'sessionid'] == df.loc[i+1, 'sessionid']:
            df.loc[i, 'response'] = df.loc[i+1, 'response']
            del_list.append(i+1)
    df.drop(del_list, inplace = True)
    df = df.reset_index(drop = True)
    del_list2 = df[df.request.isin(['-1'])].index
    del_list2 = del_list2.append(df[df.response.isin(['-1'])].index)
    df.drop(del_list2, inplace = True)
    df = df.reset_index(drop = True)
    return df

In [24]:
df_merge2 = merge2(df_merge1)

In [25]:
df_merge2.head()

,sessionid,request,response
0,13410000258T16081911402229APP,实名制了怎么还不能打电话？,请问是本机吗？我帮您开机，请稍等哈
1,13410000422T16082318212113APP,查询我现在的套餐,亲，您改了38元4G飞享套餐，9-13号生效哦亲，还在线吗，还有其他可以帮到您吗？
2,13410001228T160803125048,我前天办的飞享套餐，我要取消38元的,<P>亲，请问是在什么时候办理的呢</P><P> </P>
3,13410001228T160803125048,一号中午十一点多,<P>显示没有了哦</P>
4,13410001228T160803125048,电话办理的,<P>您是不是之前要求取消了呢？</P><P> </P>

In [26]:
df_merge2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15260 entries, 0 to 15259
Data columns (total 3 columns):
sessionid    15260 non-null object
request      15260 non-null object
response     15259 non-null object
dtypes: object(3)
memory usage: 357.7+ KB

In [27]:
df_merge2.to_csv('clean_demo1.csv',encoding="utf_8_sig")